/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

footer {
  font-size: 13px;
  color: #dcdcdc;
}

.font-24px {
  font-size: 24px;
}

.font-22px {
  font-size: 22px;
}

.font-18px {
  font-size: 18px;
}

.category {
  border: solid;
  display: inline-block;
}

a,
a:hover,
a:active,
a:visited,
a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

.cell-link a {
  display: block;
  width: 100%;
  height: 100%;
}

.blog-textarea textarea {
  height: 600px;
}

pre {
  padding: 5px 10px;
}

.article h3 {
  margin-top: 2em;
  margin-bottom: 1em;
  padding-bottom: .1em;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}